<md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <md-grid-list md-cols-xs="3" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
        <md-button md-colspan="1" md-rowspan="1" ng-click="play({num:0})" class="md-raised">{{board[0]}}</md-button>
        <md-button md-colspan="1" md-rowspan="1" ng-click="play({num:1})" class="md-raised">{{board[1]}}</md-button>
        <md-button md-colspan="1" md-rowspan="1" ng-click="play({num:2})" class="md-raised">{{board[2]}}</md-button>
        <md-button md-colspan="1" md-rowspan="1" ng-click="play({num:3})" class="md-raised">{{board[3]}}</md-button>
        <md-button md-colspan="1" md-rowspan="1" ng-click="play({num:4})" class="md-raised">{{board[4]}}</md-button>
        <md-button md-colspan="1" md-rowspan="1" ng-click="play({num:5})" class="md-raised">{{board[5]}}</md-button>
        <md-button md-colspan="1" md-rowspan="1" ng-click="play({num:6})" class="md-raised">{{board[6]}}</md-button>
        <md-button md-colspan="1" md-rowspan="1" ng-click="play({num:7})" class="md-raised">{{board[7]}}</md-button>
        <md-button md-colspan="1" md-rowspan="1" ng-click="play({num:8})" class="md-raised">{{board[8]}}</md-button>
    </md-grid-list>
</md-whiteframe>
