<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Project List</h2>
        <small>Keep track of project </small>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row" >
                    <div class="col-xs-6">
                        <a href="#">
                            <div></div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel-footer">Panel footer</div>
</div>
