<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <h2 class="panel-title">Project List</h2>
                <small>Keep track of project </small>
            </div>
            <div class="col-xs-6">
                <form>
                    <input class="dynamic-input" length-check ng-model="query" type="text">
                </form>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in list | filter: query | orderBy: name">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#">
                            <div class="margin-right-5 letter-icon-wrapper size-sm" style="background-color: rgb(127, 140, 141);">
                                <span class="letter-icon">{{setChar(item.name)}}  </span>
                            </div>
                            {{item.name}}
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="{{setProgress(item.progress)}}">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel-footer">Panel footer</div>
</div>
