* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #5c5c5c;
    background: #FFFFFF;
}

a {
    color: #5c5c5c;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

root {
    display: block;
}

root .loader {
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 24px;
    display: block;
    text-align: center;
    font-weight: 900;
}

.letter-icon-wrapper {
    &.size-sm {
        height: 30px;
        width: 30px;
        font-size: 14px;
        >span {
            line-height: 30px;
        }
    }
    &.letter-icon {
        display: inline-block;
        vertical-align: middle;
        line-height: 30px; 
    }
    &.margin-right-5 {
        margin-right: 5px!important;
    }
    white-space: nowrap;
    margin: 0;
    color: #fff;
    display: inline-block;
    text-align: center;
}
